################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutomationNuit/bin/Debug/net8.0
/AutomationNuit/obj
